body {
    background-color: #1D1D1F;
    font-family: 'GFS Didot', serif;
    margin: 0;
    overflow-y: none;
    overflow-y: hidden;
    overflow-x: none;
    overflow-x: hidden;
}


.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.hidden {
    display: none;
}

.box {
    width: 700px;
    height: 15px;
    background-color:rgba(225, 182, 137, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 5px rgba(255, 252, 217, 1);

}

.box>i {
    font-size: 20px;
    color: #000000;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(225, 182, 137, 1);
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.icon-2 {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 90px;
    height: 90px;
}


h1 {
    font-family: 'Gloock', serif;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

#eventsContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    max-height: 600px; 
    overflow: auto; 
    margin-left: 10px; 
    margin-right: 10px; 
    max-width: 90%; 
  }

#eventsContainer img {
    margin-left: 10px;
    width: 600px;
    height: 190px;
}

#charactersContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    max-height: 600px; 
    overflow: auto; 
    margin-left: 10px; 
    margin-right: 10px; 
    max-width: 90%; 
}

#charactersContainer img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
