body {
    background-color: #1D1D1F;
    font-family: 'GFS Didot', serif;
    margin: 0;
    overflow-y: none;
    overflow-y: hidden;
    overflow-x: none;
    overflow-x: hidden;
}


.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.box {
    width: 900px;
    height: 15px;
    margin-left: -110px;
    background-color: rgba(225, 182, 137, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 5px rgba(255, 252, 217, 1);

}

.box>i {
    font-size: 20px;
    color: #000000;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(225, 182, 137, 1);
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.icon-2 {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 90px;
    height: 90px;
}

.character-container {
    width: 720px;
    height: 490px;
    background-color: #FFFCD9;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 150px;

}

#myImage {
    width: 620px;
    height: 330px;
    border-radius: 20px;
}

button {
    color: white;
    background-color: #E1B689;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'GFS Didot', serif;
    font-size: larger;

}

.icons-buttons,
img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

p {
    margin-right: 20px;
    background-color: #E1B689;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name,
h1 {
    font-family: 'GFS Didot', serif;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;

}

.card-info {
    background-color: #E1B689;
    height: 490px;
    width: 420px;
    margin-left: 900px;
    position: relative;
    bottom: 510px;
    border-radius: 20px;
}

.infoh1 {
    font-weight: lighter;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

.spells {
    list-style-type: none;
    align-items: center;
}

.spells li p {
    text-align: left;
    color: #1D1D1F;
}