body {
    background-color: #1D1D1F;
    font-family: 'GFS Didot', serif;
    margin: 0;
    overflow-y: none;
    overflow-y: hidden;
    overflow-x: none;
    overflow-x: hidden;
}


.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.box {
    width: 900px;
    height: 15px;
    margin-left: -110px;
    background-color: rgba(225, 182, 137, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 5px rgba(255, 252, 217, 1);

}

.box>i {
    font-size: 20px;
    color: #000000;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(225, 182, 137, 1);
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.icon-2 {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 90px;
    height: 90px;
}

/* Estilos para el contenedor de información del personaje */
#personaje-info {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  #personaje-info img {
    width: 200px;
    height: auto;
    margin-top: 10px;
  }
  
  #personaje-info button {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #personaje-info button:hover {
    background-color: #3e8e41;
  }
  