body {
    background-color: #1D1D1F;
    font-family: 'GFS Didot', serif;
    margin: 0;

}


.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.box {
    width: 900px;
    height: 15px;
    margin-left: -110px;
    background-color: rgba(225, 182, 137, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: solid 5px rgba(255, 252, 217, 1);

}

.box>i {
    font-size: 20px;
    color: #000000;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(225, 182, 137, 1);
}

.icon-bar {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.icon-2 {
    display: flex;
    align-items: center;
    margin-left: 35px;
    text-decoration: none;
    width: 90px;
    height: 90px;
}

#characterDetails {
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgba(225, 182, 137, 1);
    border: solid 3px #FFFCD9;
    border-radius: 50px;
    width: 900px;
    height: 500px;
}

#characterDetails img {
    border-radius: 30px;
    width: 520px;
    height: 290px;
    margin-left: 40px;
    margin-top: 90px;
}

h1 {
    font-family: 'Gloock', serif;
    position: relative;
    z-index: 1;
    bottom: 380px;
    margin-left: 50px;
}

p {
    font-family: 'GFS Didot', serif;
    font-size: larger;
    position: relative;
    z-index: 2;
    margin-left: 600px;
    bottom: 320px;
}

.icon {
    position: relative;
    z-index: 4;
    top: -350px;
    max-width: 110px;
    max-height: 90px;
    left: 390px;
}

button {
    font-family: 'GFS Didot', serif;
    color: #fff;
    background-color: rgba(225, 182, 137, 1);
    border: solid 3px #FFFCD9;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    position: relative;
    z-index: 5;
    bottom: 370px;
    left: 40px;
}

.delete-icon {
    width: 20px;
    height: 20px;
  }
  