body {
    background-color: #1D1D1F;
    font-family: 'GFS Didot', serif;
    margin: 0;
    overflow-y: none;
    overflow-y: hidden;
    overflow-x: none;
    overflow-x: hidden;
}

h1 {
    font-family: 'Gloock', serif;
font-weight: bold;
margin-left: 70px;
color: #1D1D1F;
margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #E1B689;
    border: solid 3px #FFFCD9;
    border-radius: 30px;
    height: 500px;
    width: 400px;
    margin-left: 80px;
    margin-top: 60px;
}

form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

#passwordForm {
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgba(225, 182, 137, 0.55);
    border-radius: 13px;
    border: solid 3px #FFFCD9;
    outline: none;
    color: #fff;
    padding: 0 5px;
    font-size: 18px;
    height: 40px;
    width: 310px;
}

button {
    font-family: 'GFS Didot', serif;
    color: #1D1D1F;
    background-color: #FFFCD9;
    border: none;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    width: 190px;
    height: 40px;
}

.lil-riddle {
    position: relative;
    z-index: 1;
bottom: 330px;
left: 450px;
}

.trey {
    position: relative;
    z-index: 2;
bottom: 330px;
left: 455px;
}

.cater {
    position: relative;
    z-index: 3;
bottom: 330px;
left: 460px;
}